{% extends 'base.html' %}
{% load static %}
{% block 'links' %}
  <link rel="stylesheet" href="{% static 'tables/responsive.css'%}">
{% endblock %}

{% block 'title' %}
  <title>Employee Page</title>
{% endblock%}

{% block 'body' %}
  <main class="container">
    <!-- {% for supplier in Suppliers %}
      <div class="table-heading-div">
        <h1>{{ supplier.username }}</h1>
        <button class="remove-Button{{supplier.id}}">Remove</button>
      </div>  
      <br>

      <table class="big-table" id="{{supplier.id}}">
        <thead>
          <tr>
            <th>Products</th>
            {% for user in BigTable %}
              {% if user.supplier == supplier %}
                <th colspan="2" class="colspan2">{{ user.user.username }}</th>
              {% endif %}
            {% endfor %}
            <th class="total-column" colspan="2">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in Items %}
            {% if item.supplier == supplier.username %}
              <tr>
                <td><b>{{ item.productName }}</b></td>
                {% for user in BigTable %}
                  {% if user.supplier.username == supplier.username %}
                    <td>
                      {% for row in TableRows %}
                        {% if row.table.user == user.user and row.product_name == item.productName and user.table == row.table %}
                          {{ row.product_count }}
                        {% endif %}
                      {% endfor %}
                    </td>
                  <td id="total">
                    {% for row in TableRows %}
                      {% if row.table.user == user.user and row.product_name == item.productName and user.table == row.table %}
                        {{ row.total_price }}
                      {% endif %}
                    {% endfor %}
                  </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br><br><br>
    {% endfor %} -->
  
    {% for supplier in Suppliers %}
      <div class="table-heading-div">
        <h1>{{ supplier.username }}</h1>
        <button class="remove-Button{{supplier.id}}">Remove</button>
      </div> 
      <br><br>

      <table class="big-table" id="{{supplier.id}}">
        <thead>
          <tr>
            <th>Products</th>
            {% for bigtable in BigTables %}
              {% if bigtable.supplier == supplier %}
                <th colspan="2" class="colspan2">{{ bigtable.user }}</th>
              {% endif %}
            {% endfor %}
            <th class="total-column" colspan="2">Total</th>
          </tr>
        </thead>

        <tbody>
          {% for product in Products %}

            {% if product.supplier == supplier.username %}
            <tr>
              <td>{{product.productName}}</td>
              {% for bigtable in BigTables %}
                {% if bigtable.supplier.username == supplier.username %}
                  <td>
                    {% for row in TableRows %}
                      {% if row.product_name == product.productName and row.table == bigtable.table and row.table.user == bigtable.table.user %}
                        {{ row.product_count }}
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>
                    {% for row in TableRows %}
                      {% if row.product_name == product.productName and row.table == bigtable.table and row.table.user == bigtable.table.user %}
                        {{ row.total_price }}
                      {% endif %}
                    {% endfor %}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br><br><br>
    {% endfor %}


  </main>

  <!-- {% for table in Tables %}
  <hr>
      <main class="container">
          <table class="responsive-table">
              <thead>
                  <tr>
                      <th>
                          Product
                      </th>
                      <th>
                          Count
                      </th>
                      <th>
                          Price
                      </th>
                      <th>
                          Total Price
                      </th>
                  </tr>
              </thead>
              {% for row in TableRows %}
                  {% if table.tableName == row.table.tableName %}
                      <tbody>
                          <tr>
                              <td class="productName" id="productName-{{i.id}}">
                                  <h3>{{ row.product_name }}</h3>
                              </td>
                              <td class="productCount">
                                  <h3>{{ row.product_count }}</h3>

                              </td>
                              <td data-title='productPrice' class="productPrice">
                                  <h3>{{ row.product_price }}</h3>

                              </td>
                              <td id="result-{{ i.id }}" class="totalPrice">
                                  <h3>{{ row.total_price }}</h3>
                              </td>
                          </tr>
                      </tbody>
                  {% endif %}
              {% endfor %}            
                      <tfoot>
                          <tr>
                              <td>{{ table.user }}</td>
                              <td>{{ table.dateOfCreating }}</td>
                              <td>{{ table.timeOfCreating }}</td>
                              <td id="total-sum"></td>
                          </tr>
                      </tfoot>
          </table>

      </main>
  {% endfor %} -->

{% endblock %}

{% block 'scripts' %}
<script src="{% static 'tables/addRowsColumns.js'%}"></script>
<script src="{% static 'js/employee/removeColumns.js' %}"></script>
{% endblock %}
